<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- MY BEANS-->

    <!-- Next one below, is a logger config bean to have a notion what's
          happening behind the scenes, since Spring 5.1 console logging was
          removed. Just in case a higher release is used -->
    <bean id="myLoggerConfig" class="com.jayjay.first.springdemo.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <bean id="myFortuneService"
          class="com.jayjay.first.springdemo.HappyFortuneService">
    </bean>

    <bean id="myCricketCoach"
          class="com.jayjay.first.springdemo.CricketCoach">

        <!-- set up setter injection -->
        <!-- Spring framework will call setFortuneService method from property
              name and will inject myFortuneService bean linked by property ref -->
        <property name="fortuneService" ref="myFortuneService"></property>
    </bean>

</beans>





